.organization-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: relative;
    left: 160%;
  }
  
  .input-field {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    width: 300px;
  }
  
  .search-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: black;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .error-message {
    color: red;
  }
  
  .organization-data {
    background-color: #555;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 300px;
  }
  
  .organization-data h3 {
    margin-top: 0;
  }
  